<app-menu></app-menu>
<h1>Le tue Iscrizioni</h1>
        <div id="iscrizioni" class="container-fluid">
            <div class="alert alert-primary row" role="alert">
                <button id="username1" type="button" class="btn btn-primary" onclick="toAccountUtenteVetrina();">"username1"</button>
            </div>
            <div class="alert alert-primary row" role="alert">
                <button id="usernameN" type="button" class="btn btn-primary" onclick="toAccountUtenteVetrina();">"usernameN"</button>
            </div>
        </div>
