<h1>account</h1>
        <div id="informazioni" class="container-fluid">
            <div id="username" class="row">
                "username"
            </div>
            <div id="nome-cognome" class="row">
                <span id="nome">"nome"</span><span id="cognome">"cognome"</span>
            </div>
            <div id="post1" class="alert alert-primary row" role="alert" onclick="toPost();">
                <div id="nome-percorso"             class="col-3">"nome percorso"</div>
                <div id="descrizione"               class="col-3">"descrizione"</div>
                <div id="visibilita"                class="col-3">"visibilità"</div>
                <div id="standard-personalizzato"   class="col-3">"standard/personalizzato"</div>
            </div>
            <div id="postN" class="alert alert-primary row" role="alert" onclick="toPost();">
                <div id="nome-percorso"             class="col-3">"nome percorso"</div>
                <div id="descrizione"               class="col-3">"descrizione"</div>
                <div id="visibilita"                class="col-3">"visibilità"</div>
                <div id="standard-personalizzato"   class="col-3">"standard/personalizzato"</div>
            </div>
        </div>