<app-menu></app-menu>
<h1>account</h1>
        <div id="informazioni" class="container-fluid">
            <p>nome1</p>
            <p>nomeN</p>

            <ul>
                <li *ngFor="let utente of utenti">
                    {{utente.nome}}; 
                </li>
            </ul>

            <br>

            <p>{{utente.username}}</p>
            <p>{{utente.nome}}</p>
            <p>{{utente.cognome}}</p>


            <!--
            <div id="username" class="row">
                "username"
            </div>
            <div id="nome-cognome" class="row">
                <span id="nome">"nome"</span><span id="cognome">"cognome"</span>
            </div>
            <div id="post1">
                <button id="utente-vetrina" type="button" routerLink = "/post">
                <div>"username"</div>
                <div>"nome percorso"</div>
                <div>"descrizione"</div>
                <div>"standard/personalizzato"</div>
                </button>

            </div>
            -->
        </div>