<h1>Ricerca</h1>
        <input type="text" id="termini-ricerca">
        <button class="btn btn-success" routerLink = "/post">cerca (vai su Post)</button>
        <!--input type="button" id="pulsante-cerca" value="cerca (vai su Post)"--><br><br>
        <div id="posts">
            <div id="post1">
                <div id="username">"username"</div>
                <div id="nome-percorso">"nome percorso"</div>
                <div id="descrizione">"descrizione"</div>
                <div id="standard-personalizzato">"standard/personalizzato"</div>
            </div><br>
            <div id="postN">
                <div id="username">"username"</div>
                <div id="nome-percorso">"nome percorso"</div>
                <div id="descrizione">"descrizione"</div>
                <div id="standard-personalizzato">"standard/personalizzato"</div>
            </div><br>
            </div>