
<body class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="..." alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputCod" class="sr-only">Username</label>
        <input type="text" id="username" placeholder="Username" required autofocus>
        <!-- rimosso class="form-control" che occupava tutta la pagina -->
        <br><br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" placeholder="Password" required>
        <br><br>
        <button class="btn btn-lg btn-primary" type="submit">Login</button>
    </form>
</body>
<div class="text-center">
    
</div>
