<app-toolbar></app-toolbar>
<br>
<br>
<div class="text-center">
<h3>Lista Utenti</h3>

<div class="btn btn-secondary" (click)="richiestaHttp()">Avvia request HTTP</div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">idUtente</th>
        <th scope="col">username</th>
        <th scope="col">password</th>
        <th scope="col">nome</th>
        <th scope="col">cognome</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utente of utenti">
        <th scope="row">{{utente.idUtente}}</th>
        <td>{{utente.username}}</td>
        <td>{{utente.password}}</td>
        <td>{{utente.nome}}</td>
        <td>{{utente.cognome}}</td>
      </tr>
    </tbody>
  </table>
</div>
