<h1>Gli ultimi post delle tue iscrizioni</h1>
<div id="posts" class="container-fluid">
    <div id="post1" class="alert alert-primary row" role="alert" onclick="toPost();">
        <div id="username"                  class="col-3">"nome percorso"</div>
        <div id="nome-percorso"             class="col-3">"username"</div>
        <div id="descrizione"               class="col-3">"descrizione"</div>
        <div id="standard-personalizzato"   class="col-3">"standard/personalizzato"</div>
    </div>
    <div id="postN" class="alert alert-primary row" role="alert" onclick="toPost();">
        <div id="username"                  class="col-3">"nome percorso"</div>
        <div id="nome-percorso"             class="col-3">"username"</div>
        <div id="descrizione"               class="col-3">"descrizione"</div>
        <div id="standard-personalizzato"   class="col-3">"standard/personalizzato"</div>
    </div>
</div>
<button id="iscrizioni" type="button" class="btn btn-primary" onclick="toIscrizioni();">iscrizioni</button>