<app-menu></app-menu>
<h1>Gli ultimi post delle tue iscrizioni</h1>
<div id="posts" class="container-fluid">
    <div *ngFor="let post of postIscr">
        <button id="utente-vetrina" type="button" routerLink = "/post">
            <div id="username">{{post.no}}</div>
            <div id="nome-percorso">{{post.nome-percorso}}</div>
            <div id="descrizione">{{post.descrizione}}</div>
            <div id="standard-personalizzato">{{post.tipologiaPercorso}}</div>
        </button>
    </div>
        
</div>
<button id="iscrizioni" type="button" class="btn btn-primary" routerLink= "/iscrizioni">iscrizioni</button>