<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.rizzoli.progettoescursioni">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgettoEscursioni">
        <activity android:name=".SceltaPercorso"></activity>
        <activity android:name=".AccountVetrina" />
        <activity android:name=".IscrizioniActivity"></activity>
        <activity android:name=".PostIscrizioniActivity" ><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".CreazionePostActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".SearchPostActivity" />
        <activity android:name=".RegistrazioneUtenteActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".PuntoPercorsoActivity" />
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".ConfermaActivity" />
        <activity android:name=".NuovologinActivity" />
        <activity android:name=".RecuperopasswordActivity" />
    </application>

</manifest>