<h1>Account "UtenteX"</h1>
        <div    id="info-utente">
            <div id="username">"username"</div>
            <div id="nome">"Nome"</div>
            <div id="cognome">"Cognome"</div>
        </div>
        <br>
       
        <div id="posts">
            <div id="post1" onclick="post1()">
                <div id="nome-percorso">"nome percorso"</div>
                <div id="descrizione">"descrizione"</div>
                <div id="standard-personalizzato">"standardPersonalizzato" </div>
            </div><br>
            <div id="postN" onclick="postN()">
               <div id="nome-percorso">"nome percorso"</div>
                <div id="descrizione">"descrizione"</div>
                <div id="standard-personalizzato">"standardPersonalizzato" </div>
                
            </div><br>
        <button id="iscriviti" type="button" class="btn btn-primary"onclick="iscriviti()">Iscriviti</button>
        </div>
  
