<app-menu></app-menu>
<h1>Account "UtenteX"</h1>


<div class="btn btn-secondary" (click)="requestHttp()">Avvia request HTTP</div>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">idPost</th>
        <th scope="col">nome_percorso</th>
        <th scope="col">descrizione</th>
        <th scope="col">standard-personalizzato</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <th scope="row">{{post.idPost}}</th>
        <td>{{post.nome_percorso}</td>
        <td>{{post.descrizione}}</td>
        <td>{{post.standard-personalizzato}}</td>
        
      </tr>
    </tbody>
  </table>



<!--
        
                    <div    id="info-utente">
            <div id="username">"username"</div>
            <div id="nome">"Nome"</div>
            <div id="cognome">"Cognome"</div>
        </div>
        <br>
       
        <div id="posts">
            <button id="account-vetrina" type="button" onclick="post1()" routerLink ="/post">
                <div id="nome-percorso">"nome percorso"</div>
                <div id="descrizione">"descrizione"</div>
                <div id="standard-personalizzato">"standardPersonalizzato" </div>
            </button>
        </div><br>
        <div id="postN" onclick="postN()">
               <div id="nome-percorso">"nome percorso"</div>
                <div id="descrizione">"descrizione"</div>
                <div id="standard-personalizzato">"standardPersonalizzato" </div>
                
            <br>
        <button id="iscriviti" type="button" class="btn btn-primary"onclick="iscriviti()">Iscriviti</button>
        </div>

  
        -->
  <!--<div id="post1" onclick="post1()">-->

    <!--<td>{{}}</td>-->
