<app-menu></app-menu>
<h1>Account di:</h1>

<!--
<div class="btn btn-secondary" (click)="requestHttp()">Avvia request HTTP</div>
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">idPost</th>
        <th scope="col">nome_percorso</th>
        <th scope="col">descrizione</th>
        <th scope="col">standard-personalizzato</th>
        <th scope="col">tipologiaPercorso</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of posts">
        <th scope="row">{{p.idPost}}</th>
        <td>{{p.nome_percorso}}</td>
        <td>{{p.descrizione}}</td>
        <td>{{p.standard-personalizzato}}</td>
        <td>{{p.tipologiaPercorso}}</td>
        
      </tr>
    </tbody>
  </table>
  -->



  <!--<div class="btn btn-secondary" (click)="requestHttp()">Avvia request HTTP</div>-->
                    <div    id="info-utente">
            <div id="username">{{utente.username}}</div>
            <div id="nome">{{utente.nome}}</div>
            <div id="cognome">{{utente.cognome}}</div>
        </div>
        <br>
       
        <div id="posts" *ngFor="let p of utente.post">
            <button id="account-vetrina" type="button" onclick="post1()" routerLink ="/post">
                <div id="nome-percorso">{{p.nome_percorso}}</div>
                <div id="descrizione">"{{p.descrizione}}"</div>
                <div id="standard-personalizzato">"{{p.standard-personalizzato}}" </div>
                <div id="tipologia-percorso">"{{p.tipologiaPercorso}}"</div>
            </button>
        </div><br>
        <!--
        <div id="postN" onclick="postN()">
               <div id="nome-percorso">"nome percorso"</div>
                <div id="descrizione">"descrizione"</div>
                <div id="standard-personalizzato">"standardPersonalizzato" </div>
                
            <br>
        <button id="iscriviti" type="button" class="btn btn-primary"onclick="iscriviti()">Iscriviti</button>
        </div>

  -->
        
  <!--<div id="post1" onclick="post1()">-->

    <!--<td>{{}}</td>-->
